# Load the shared object
useDynLib(SeqArray)

# Import all packages listed as Imports or Depends
import(gdsfmt)

import(methods)
import(Biostrings)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)

#import(VariantAnnotation)
importFrom(VariantAnnotation, VCF, VCFHeader, readVcf)
importClassesFrom(VariantAnnotation, VCF, CollapsedVCF, VCFHeader)
importMethodsFrom(VariantAnnotation, ref, alt, qual, filt, asVCF)

# Export all names
exportPattern("^seq*")
export(.onAttach)

# exportClasses(SeqVarGDSClass, SeqVarNodeNewInfoClass)
exportClasses(SeqVarGDSClass)


exportMethods(granges, ref, alt, qual, filt, asVCF)

# exportMethods(seqClose, seqAppend)
exportMethods(seqClose)
