# Load the shared object
useDynLib(SeqArray,
    SEQ_File_Init, SEQ_File_Done,
    SEQ_FilterPushEmpty, SEQ_FilterPushLast, SEQ_FilterPop,
    SEQ_MergeAllele, SEQ_MergeGeno, SEQ_MergePhase, SEQ_MergeInfo,
    SEQ_MergeFormat,
    SEQ_SetSpaceSample, SEQ_SetSpaceSample2,
    SEQ_SetSpaceVariant, SEQ_SetSpaceVariant2, SEQ_SplitSelection,
    SEQ_SetChrom, SEQ_GetSpace,

    SEQ_Summary, SEQ_System,

    SEQ_Parse_VCF4, SEQ_Quote, SEQ_InitOutVCF4, SEQ_OutVCF4,
    SEQ_GetData, SEQ_Apply_Variant, SEQ_Apply_Sample, SEQ_NumOfAllele,

    SEQ_ConvBEDFlag, SEQ_ConvBED2GDS,
    SEQ_SelectFlag,

    SEQ_ExternalName0, SEQ_ExternalName1, SEQ_ExternalName2,
    SEQ_ExternalName3, SEQ_ExternalName4
)

# Import all packages listed as Imports or Depends
import(methods)
import(gdsfmt)
import(Biostrings)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)

importFrom(utils, count.fields, read.table)
importFrom(VariantAnnotation, VCF, VCFHeader, readVcf)
importClassesFrom(VariantAnnotation, VCF, CollapsedVCF, VCFHeader)
importMethodsFrom(VariantAnnotation, ref, alt, qual, filt, asVCF,
                  header, fixed, info, geno)
importMethodsFrom(SummarizedExperiment, colData, rowRanges)

# Export all names
exportPattern("^seq*")
export(.Last.lib)

exportClasses(SeqVarGDSClass)


exportMethods(granges, ref, alt, qual, filt, asVCF, header, fixed,
              info, geno, colData, rowRanges)
exportMethods(seqClose, seqSetFilter)
